.container {
	background-color: white;

}

.services__title {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.services__title span {
	text-align: center;
	letter-spacing: 3.2px;
	color: #666D81;
}

.services__title h2 {
	text-align: center;
	letter-spacing: 0px;
	color: #131D3B;
	margin: 0;
}

.services__img {
	margin-top: 1rem;
}


.services__boxes {
	background-color:white;
	display: flex;
	justify-content: center;
}

.services__boxes-img {
	padding: 0 1.5rem;
	border-radius: 5px;
}

.services__boxes-side {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 0 2rem;
	padding: 0 1rem;
	background-color: #FF4F01;
	border-radius: 5px;
}

.services__boxes-side h5 {
	text-align: left;
	color: white;
}

.services__boxes-side a {
	font-size: 0.5rem;
	text-align: left;
	letter-spacing: 2.8px;
	color: #FFFFFF;
	opacity: 1;
}

.texts {
	display: flex;
}

.texts__boxes {

}

@media (max-width: 768px) {
	.container {
		height: 50vh;
	}
	

}

@media (min-width: 769px) and (max-width: 1024px) {
	.container {
		height: 60vh;
	}
}