.carousel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70vh;
	background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
          rgba(0, 0, 0, 0.4), 
          rgba(0, 0, 0, 0.4)
        ),
        /* bottom, image */
        url("base@2x.png");
	background-size: cover;

}



.main__title {
	width: 100%;
	margin: 1rem 0;
	text-align: center;
	color: white;
	box-sizing: border-box;
	padding:0 75px;
}

.main__intro {
	width: 14rem;
	background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.main__intro-text {
	margin: 0;
	text-align: center;
	letter-spacing: 3.2px;
	color: #FFFFFF;
	opacity: 1;
}

.button {
	background-color: #FF4F01;
  	border: none;
	color: white;
	padding: 23px 45px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Roboto Condensed',sans-serif;
	border-radius: 5px;
}

.button:hover,
.button:active {
	transition: background-color 0.5s ease;
  	background-color: red;
	background-color: #131D3B;
}


@media (max-width: 768px) {
	.carousel {
		height: 40vh;
	}

	.button {
		padding: 10px 20px;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.carousel {
		height: 40vh;
	}
}

@media (min-width: 769px) {
	.main__title {
		font-size: 60px;
		width: 45rem;
	}
}
